.Calculator{
    margin: 230px auto 0px auto;
    background-color:white;
    width: 490px;
    padding: 10px;
    border-radius: 5px;
}

.display{
    background-color: gainsboro;
    height: 80px;
    border-radius: 5px;
    text-align: right;
    padding: 30px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.keyboard{
    display:flex ;
    flex-wrap:wrap;
    gap: 10px;;
    justify-content: center;
}
.operator,.number{
    width: 90px; ;
}